@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #e4e4ea;
    text-decoration: none;
    line-height: 1.6;
}
/************
****header***
************/
header{
    width: 100%;
    box-shadow: 20px 20px 20px #d9d9d9, 
    -20px -20px 60px #ffffff;
}
h1{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    margin: 0 auto;
    cursor: pointer;
}
button{
    position: fixed;
    border: none;
    padding: 10px;
    bottom: 30px;
    right: 0;
    top: 200;
    bottom: ;
    background-color: #ffffff;
    box-shadow: 20px 20px 20px #d9d9d9, 
    -20px -20px 60px #ffffff;
    background-color: rgba(88, 88, 88, 1);
    color: white;
    
}
/************
****layout***
************/

.container{
    max-width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.box{
    box-shadow: 20px 20px 60px #d9d9d9, 
    -20px -20px 60px #ffffff;
    padding: 30px;
    margin: 10px;
}
.box:hover{
    box-shadow: 2px 2px 30px #ffffff;
}
code{
    font-family: 'Source Code Pro', monospace;
    background-color: #f8de7e;
}
.img,
.title{
    margin-top: 20px;
}
.img,
h4,
p,
a{
    text-align: center;
}

div.script_author{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}
p{
    display: inline-block;
}
div.about_script{
    margin: 10px;
    text-align: center;
}


/************
****footer***
************/
footer{
    width: 100%;
    box-shadow: 20px 20px 20px #d9d9d9, 
    -20px -20px 60px #ffffff;
}
.social_media{
    background-color:rgba(88, 88, 88, 0.125);
    padding: 30px;
    margin: 20px auto;
    text-align: center;
}
.fa,
.fab{
    margin: 0 auto;
    font-size: 2rem;
}
i{
    margin: 5px;
}


/************
****media query***
************/


@media(max-width:670px){
    .row{
        flex-direction: column;
    }
}
